//color variables
$color-black-0: #222325;
$color-black-1: #62646a;; //default
$color-gray-0: #7a7d85;
$color-green-0: #1dbf73;

//font-size variables
$fs-0: 16px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 30px;
$fs-4: 40px;

//margin variables
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//border radius variables
$boder-radius: 2px;

//padding variables
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;

//font weight variables
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;