.question {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 40px 0;
  h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: $fw-bold-0;
  }
  .row {
    ul {
      margin-left: 5%;
      box-sizing: border-box;
      width: 90%;
      list-style-type: none;
      li {
        margin-bottom: $mg-1;
        border-left: 5px solid transparent;
        border-radius: 3px;
        overflow: hidden;
        &:hover {
          border-color: $color-green-0;
        }
        .card {
          .card-header {
            border: none !important;
            background-color: white !important;
            position: relative;
            cursor: pointer;
            h5 {
              button {
                font-weight: $fw-bold-0 !important;
                color: #0e0e0f;
                padding-left: 0 !important;
                &:focus {
                  box-shadow: none;
                }
              }
            }
            &::before {
              content: "\f107";
              color: #0e0e0f;
              font-size: 15px;
              font-weight: $fw-bold-1;
              font-family: FontAwesome;
              position: absolute;
              left: 95%;
              bottom: 30%;
              transition: transform .3s,-webkit-transform .3s;
            }
            &:active::before {
              transform: rotateZ(-180deg);
            }
          }
        }
      }
    }
  }
}
